<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>奖项设置</title>
    <link rel="stylesheet" href="css/reset.css" />
    <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.4.1/theme-chalk/index.css" /> -->
    <link rel="stylesheet" href="./js/element-ui@2.4.11/lib/theme-chalk/index.css">
    <script src="js/polyfill.min.js"></script>
    <script src="js/vue.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/element-ui/2.4.1/index.js"></script> -->
    <script src="./js/element-ui@2.4.11/lib/index.js"></script>
    <script src="js/member.js"></script>
    <style>
        .el-input {
            width: 120px;
        }

        .el-table {
            margin-bottom: 10px;
        }

        * {
            cursor: initial;
        }

        .awards,
        .members {
            width: 80%;
            margin: auto;
            margin-top: 50px;
        }

        h1 {
            font-size: 30px;
            text-align: center;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        h1 span {
            font-size: 16px;
        }

        a {
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="awards">
            <h1>奖项设置 <span>（请按抽奖顺序添加）</span></h1>
            <el-table :data="tableData" style="width: 100%">
                <el-table-column :prop="item.prop" :label="item.label" width="180" v-for="(item, index) in columns" :key="index">
                    <template slot-scope="scope">
                        <div>
                            <div v-if="scope.row.editing[item.prop]">
                                <el-input size="mini" v-model="scope.row[item.prop]" @blur="onSaveCell(scope.row, item.prop)">
                                </el-input>
                            </div>
                            <div v-else @dblclick="onEditCell(scope.row, item.prop, $event)">
                                {{ scope.row[item.prop] || '(请填写)' }}
                            </div>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="address" label="操作">
                    <template slot-scope="scope">
                        <el-button size="small" @click="onAdd(scope.row, scope.$index)" type="primary">
                            增加
                        </el-button>
                        <el-button size="small" @click="onRemove(scope.row, scope.$index)" type="danger">
                            删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <br>
            <el-button size="small" type="primary" @click="onAdd(null, -1)" :disabled="buttonDisabled">
                增加
            </el-button>
            <el-button size="small" type="primary" @click="onPrePage">
                上一页
            </el-button>
            <el-button size="small" type="primary" @click="onNextPage">
                下一页
            </el-button>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                columns: [
                    {
                        prop: 'name',
                        label: '名称',
                    },
                    {
                        prop: 'count',
                        label: '数量',
                    },
                    {
                        prop: 'award',
                        label: '奖品',
                    },
                ],
                tableData: [
                    {
                        name: '二等奖',
                        award: 'Air pods',
                        count: 3,
                    },
                    {
                        name: '一等奖',
                        award: 'HUAWEI Mate30Pro',
                        count: 2,
                    },
                    {
                        name: '特等奖',
                        award: 'Apple MacPro',
                        count: 1,
                    },
                ],
            },
            computed: {
                awards: function () {
                    return this.tableData
                        .filter(function (item) {
                            return item.name && item.count;
                        })
                        .map(function (item) {
                            return {
                                name: item.name,
                                count: item.count,
                                award: item.award,
                            };
                        });
                },
                buttonDisabled: function () {
                    return (
                        this.tableData.length > 0
                    );
                },
            },
            methods: {
                onSaveCell: function (row, key) {
                    this.$set(row.editing, key, false);
                    this.saveData();
                },
                onEditCell: function (row, key, e) {
                    this.$set(row.editing, key, true);
                    const parent = e.target.parentNode;
                    this.$nextTick(function () {
                        // console.log(parent.innerHTML, row)
                        parent.querySelector('input').focus();
                    });
                },
                onAdd: function (row, index) {
                    console.log(row, index);
                    this.tableData.splice(index + 1, 0, {
                        editing: {
                            name: true,
                        },
                    });
                },
                onRemove: function (row, index) {
                    this.tableData.splice(index, 1);
                    this.saveData();
                },
                onPrePage: function () {
                    location.href = 'configMember.html';
                },
                onNextPage: function () {
                    location.href = 'configBackDoor.html';
                },
                saveData: function () {
                    localStorage.setItem('awards', JSON.stringify(this.awards));
                },
            },
            created: function () {
                var awards = JSON.parse(localStorage.getItem('awards')) || [
                    {
                        name: '二等奖',
                        award: 'Air pods',
                        count: 3,
                    },
                    {
                        name: '一等奖',
                        award: 'HUAWEI Mate30Pro',
                        count: 2,
                    },
                    {
                        name: '特等奖',
                        award: 'Apple MacPro',
                        count: 1,
                    },
                ];

                this.tableData = awards.map(function (item) {
                    return {
                        name: item.name,
                        count: item.count,
                        award: item.award,
                        editing: {},
                    };
                });

                this.saveData();
            },
        });
    </script>
</body>

</html>